/* CSS Reset Start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background-color: #F9F9F9;
	line-height: 1;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Reset End */

@media only screen and (min-width: 992px) {


    /* Modal Start */
    .modal-mobile {
        display: none;
    }
    /* Modal End */

    /* Nav Topbar Start */
    .design-topbar {
        display: block;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 3vh;
        z-index: 2;
        transition: .3s;
    }

    .design-topbar.background {
        background-color: #212529;
    }

    nav.topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        padding: 1em;
        box-sizing: border-box;
        width: 100vw;
        height: 10vh;
        z-index: 2;
        transition: .3s;
    }

    nav.topbar.change {
        top: 5%;
    }

    nav.topbar div {
        width: 30%;
    }

    nav.topbar .brand-logo a {
        background-color: #212529;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav.topbar .brand-logo a img {
        width: 10%;
    }

    nav.topbar .brand-logo a {
        color: #F9F9F9;
        text-decoration: none;
    }

    nav.topbar .brand-logo a span {
        font-weight: 700;
        margin: 0 10px;
    }

    nav.topbar .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: auto;
        padding: 5px;
        transition: .3s;
    }

    nav.topbar .hamburger-menu.background {
        background-color: #212529;
    }
    
    nav.topbar .hamburger-menu span {
        background-color: #212529;
        display: block;
        width: 28px;
        height: 5px;
        margin: 2px 0;
        transition: .2s;
    }

    nav.topbar .hamburger-menu span.background {
        background-color: #F9F9F9;
    }

    nav.topbar .hamburger-menu:hover span {
        margin: 4px 0;
    }

    nav.topbar .language {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav.topbar .language span {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        margin: 0 2px;
    }
    /* Nav Topbar End */

    /* Nav Sidebar Start */
    nav.navbar {
        position: fixed;
        top: 10%;
        left: 0;
        width: 100vw;
        padding: 1.5em;
        display: flex;
        justify-content: space-evenly;
        visibility: hidden;
        opacity: 0;
        transition: .2s;
        z-index: 1;
    }

    nav.navbar.background {
        background-color: #212529;
    }

    nav.navbar.change {
        top: 0;
        transform: translateY(-100%);
    }

    nav.show {
        opacity: 1;
        visibility: visible;
    }

    nav.navbar a {
        color: #212529;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 2px;
        transition: .5s;
    }

    nav.navbar a:hover {
        color: #FF4655;
        letter-spacing: 5px;
        position: relative;
    }
    /* Nav Sidebar End */

    /* Main Start */
    main {
        text-align: center;
        height: 10000px;
    }

    main .jib-parallax {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    main .jib-parallax .design {
        z-index: -999;
    }

    main .jib-parallax .design .designred{
        background-color: #FF4655;
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50px;
        position: absolute;
        top: 90%;
        left: 10%;
    }

    main .jib-parallax .design div:nth-child(2) {
        width: 10px;
        height: 10px;
        top: 40%;
        left: 20%;
    }

    main .jib-parallax .design div:nth-child(3) {
        width: 16px;
        height: 16px;
        top: 70%;
        left: 40%;
    }

    main .jib-parallax .design .designblack{
        background-color: #212529;
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50px;
        position: absolute;
        top: 30%;
        left: 70%;
    }

    main .jib-parallax .design div:nth-child(5) {
        width: 13px;
        height: 13px;
        top: 60%;
        left: 80%;
    }

    main .jib-parallax .designstrip1 {
        background-color: #212529;
        display: block;
        width: 1px;
        height: 100vh;
        position: absolute;
        right: 10%;
    }

    main .jib-parallax .designstrip2 {
        background-color: #212529;
        display: block;
        width: 1px;
        height: 100vh;
        position: absolute;
        right: 70%;
    }

    main .jib-parallax .designstrip3 {
        background-color: #212529;
        display: block;
        width: 1px;
        height: 100vh;
        position: absolute;
        right: 95%;
    }

    main .jib-parallax h1 {
        font-size: 5rem;
        margin: .2em 0;
    }
    
    main .jib-parallax h6 {
        font-family: 'Dancing Script', cursive;
        font-size: 1.5rem;
        font-weight: 700;
        margin: .2em 0;
    }

    main .jib-parallax .text-scroll {
        color: #212529;
        font-size: .5rem;
        font-weight: bolder;
        letter-spacing: 3px;
        position: absolute;
        bottom: 5%;
    }

    main .content {
        background-color: #212529;
        height: 100vh;
    }

    main .content p {
        color: #F9F9F9;
    }

    main .content .designstrip1 {
        background-color: #F9F9F9;
        display: block;
        width: 1px;
        height: 100vh;
        position: absolute;
        right: 95%;
    }
    /* Main End */

    /* Footer Start */
    footer {
        display: block;
        margin-right: 5vw;
        font-size: .8rem;
    }

    footer div img {
        width: 10%;
    }

    footer .start-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .social-media {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50vw;
    }

    footer .social-media a {
        color: grey;
        transition: all .5s;
    }

    footer .social-media a:hover {
        color: white;
    }

    footer .social-media div a i {
        font-size: 2rem;
    }
    /* Footer End */

}