/* CSS Reset Start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background-color: #F9F9F9;
	line-height: 1;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Reset End */

@media only screen and (min-width: 992px) {

    /* Modal Start */
    .modal-mobile {
        display: none;
    }
    /* Modal End */

    /* Nav Topbar Start */
    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 1em;
        height: 10vh;
        z-index: 999;
        transition: .5s;
    }

    .topbar div {
        width: 30%;
    }

    .topbar-brand-text {
        color: #212529;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .topbar-brand-text span {
        font-weight: 700;
        margin: 0 10px;
    }

    .topbar-hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: auto;
        padding: 5px;
        transition: .5s;
    }
    
    .topbar-hamburger-menu span {
        background-color: #212529;
        display: block;
        width: 28px;
        height: 5px;
        margin: 2px 0;
        transition: .2s;
    }

    .topbar-hamburger-menu:hover span {
        margin: 4px 0;
    }

    .topbar-hamburger-menu span.color-change {
        background-color: #FF4655;
    }

    .topbar-account {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .topbar-account a {
        color: #212529;
    }
    /* Nav Topbar End */

    /* Navmenu Start */
    .navmenu {
        background-color: #212529;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 15%;
        left: 40%;
        right: 40%;
        display: flex;
        transition: .2s;
        visibility: hidden;
        opacity: 0;
        z-index: 999;
    }

    .navmenu.show {
        opacity: 1;
        visibility: visible;
    }
    
    .navmenu.background {
        background-color: #FF4655;
    }

    .navmenu a {
        color: #F9F9F9;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 2px;
        transition: .5s;
        margin: 2em 0;
    }

    .navmenu a:hover {
        color: #F9F9F9;
        letter-spacing: 5px;
    }
    /* Navmenu End */

    /* Account Menu Start */
    .account-menu {
        background-color: #212529;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 15%;
        right: 15%;
        left: 65%;
        transition: .2s;
        visibility: hidden;
        opacity: 0;
        z-index: 999;
    }

    .account-menu.show {
        opacity: 1;
        visibility: visible;
    }

    .account-menu.background {
        background-color: #FF4655;
    }

    .account-menu a {
        color: #F9F9F9;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 2px;
        transition: .5s;
        margin: 2em 0;
    }

    .account-menu a:hover {
        letter-spacing: 5px;
        position: relative;
    }

    .account-menu .login-as {
        display: none;
        opacity: 0;
        transition: .5s;
    }

    .account-menu .login-as.show {
        display: block;
        opacity: 1;
    }

    .login-as-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-as-form input{
        cursor: pointer;
        color: #F9F9F9;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 2px;
        outline: none;
        background: none;
        border: 1px solid #F9F9F9;
        margin-bottom: 1em;
        padding: .5em;
        transition: .5s;
    }

    .login-as-form input:hover {
        color: #FF4655;
        border: 1px solid #FF4655;
    }
    /* Account Menu End */

    /* Main Start */
    .main {
        text-align: center;
    }

    /* Opening Start */
    .opening {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .opening-material {
        z-index: -999;
    }

    .opening-material-triangle {
        width: 7%;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .opening-material-red{
        background-color: #FF4655;
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 90%;
        left: 10%;
    }

    .opening-material div:nth-child(2) {
        width: 10px;
        height: 10px;
        top: 40%;
        left: 20%;
    }

    .opening-material div:nth-child(3) {
        width: 16px;
        height: 16px;
        top: 70%;
        left: 40%;
    }

    .opening-material-black{
        background-color: #212529;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 30%;
        left: 70%;
    }

    .opening-material div:nth-child(6) {
        width: 13px;
        height: 13px;
        top: 60%;
        left: 80%;
    }

    .opening-material-strip-1 {
        background-color: #212529;
        display: block;
        width: 1px;
        height: 100vh;
        position: absolute;
        right: 10%;
    }

    .opening-material-strip-2 {
        background-color: #212529;
        display: block;
        width: 1px;
        height: 100vh;
        position: absolute;
        right: 70%;
    }

    .opening-material-strip-3 {
        background-color: #212529;
        display: block;
        width: 1px;
        height: 100vh;
        position: absolute;
        right: 95%;
    }

    .opening-title {
        font-size: 5rem;
        margin: .2em 0;
        opacity: 0;
        transition: .7s;
    }

    .opening-title.show {
        opacity: 1;
    }

    .opening-slogan {
        font-family: 'Dancing Script', cursive;
        font-size: 1.5rem;
        font-weight: 700;
        margin: .2em 0;
        opacity: 0;
        transition: .7s;
    }

    .opening-slogan.show {
        opacity: 1;
    }

    .opening-text-scroll {
        color: #212529;
        font-size: .5rem;
        font-weight: bolder;
        letter-spacing: 3px;
        position: absolute;
        bottom: 5%;
    }
    /* Opening End */
    
    /* Career Start */
    .career {
        background-color: #212529;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10%;
        position: relative;
    }

    .career-material-strip-1 {
        background-color: #F9F9F9;
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        right: 95%;
    }

    .career-material-red-1 {
        background-color: #FF4655;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 25%;
        left: 70%;
    }

    .career-material-red-2 {
        background-color: #FF4655;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        bottom: 15%;
        left: 50%;
    }

    .career-material-red-3 {
        background-color: #FF4655;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        bottom: 15%;
        left: 55%;
    }

    .career-material-red-4 {
        background-color: #FF4655;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        bottom: 15%;
        left: 5%;
    }

    .career-title {
        color: #F9F9F9;
        font-size: 5rem;
        font-weight: 700;
        position: absolute;
        top: 5%;
        right: 5%;
        opacity: 0;
        transform: translateY(20%);
        transition: 1s;
    }

    .career-image-box {
        position: relative;
    }

    .career-image {
        width: 45vw;
    }

    .career-image-span {
        background-color: #FF4655;
        color: #F9F9F9;
        font-size: 1rem;
        font-weight: 700;
        position: absolute;
        top: 5%;
        right: -5%;
        padding: 5px 15px;
    }

    .career-description-box {
        color: #F9F9F9;
        position: relative;
    }

    .career-description-title {
        text-align: end;
        margin-bottom: 3em;
    }

    .career-description {
        color: #76808A;
        text-align: end;
        padding-left: 2em;
    }

    .career-description-button {
        color: #FF4655; 
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
        border: 1px solid #F9F9F9;
        border-radius: 0%;
        position: relative;
        padding: 1em 7em;
        transition: color .3s linear;
        top: 5em;
    }

    .career-button-span {
        color: #F9F9F9;
        position: relative;
    }

    .career-description-button:hover {
        color: #F9F9F9;
        border: 1px solid #FF4655;
    }

    .career-description-button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FF4655;
        transition: transform .5s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6);
        transform: scaleX(0);
    }

    .career-description-button:hover::before {
        transform: scaleX(1);
    }
    /* Career End */

    /* About Us Start */
    .about-us {
        display: flex;
        position: relative;
        padding: 10em 10em;
    }

    .about-us-material-red-1 {
        background-color: #FF4655;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 25%;
        left: 70%;
    }

    .about-us-material-red-2 {
        background-color: #FF4655;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 60%;
    }

    .about-us-material-strip-1 {
        background-color: #FF4655;
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 95%;
    }

    .about-us-material-strip-2 {
        background-color: #212529;
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 30%;
    }

    .about-us-title {
        color: #212529;
        font-size: 5rem;
        font-weight: 700;
        position: absolute;
        top: 5%;
        left: 8%;
        transform: translateY(20%);
        opacity: 0;
        transition: 1s;
    }

    .about-us-image {
        width: 430px;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .about-us-image-span {
        background-color: #FF4655;
        color: #F9F9F9;
        font-size: 1rem;
        font-weight: 700;
        padding: 5px 15px;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .about-us-description-box {
        width: 40vw;
    }

    .about-us-description-title {
        text-align: left;
        font-size: 1rem;
        font-weight: bold;
        margin: 3em 0;
    }

    .about-us-description {
        color: #76808A;
        text-align: left;
    }

    .about-us-description-button {
        background-color: #FF4655;
        color: #FF4655; 
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
        border-radius: 0%;
        position: relative;
        padding: 1em 7em;
        transition: color .3s linear;
        top: 5em;
    }

    .about-us-description-button-span {
        color: #F9F9F9;
        position: relative;
    }

    .about-us-description-button:hover {
        color: #F9F9F9;
    }

    .about-us-description-button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #212529;
        transition: transform .5s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6);
        transform: scaleX(0);
    }

    .about-us-description-button:hover::before {
        transform: scaleX(1);
    }
    /* About Us End */

    /* Product */
    .product-introduction {
        background-color: #212529;
        color: #F9F9F9;
        font-size: 3rem;
        font-weight: 700;
        position: relative;
        padding: 1em 0;
    }

    .product-introduction-title {
        transition: .5s;
    }

    .product-introduction-material-strip-1 {
        background-color: #F9F9F9;
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 95%;
    }

    .product-introduction-material-strip-2 {
        background-color: #FF4655;
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 15%;
    }
    
    .product-introduction-material-red-1 {
        background-color: #FF4655;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 75%;
        left: 30%;
        transition: 1s;
    }

    .product-introduction-material-red-2 {
        background-color: #FF4655;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 75%;
        left: 90%;
        transition: 1s;
    }

    .product-introduction-material-red-3 {
        background-color: #F9F9F9;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 10%;
        left: 20%;
        transition: 1s;
    }

    .product-banner {
        background-image: url('../../main/product/background.webp');
        background-position: center;
        background-size: cover;
        color: black;
        padding: 5em 0 15em 0;
        text-align: center;
        position: relative;
    }

    .product-banner-title {
        font-size: 3rem;
        letter-spacing: 3px;
    }

    .product-banner-description {
        font-family: 'Dancing Script', cursive;
        font-size: 1.5rem;
        margin: .5em 0;
    }

    .product-banner-button {
        position: absolute;
        bottom: 10%;
        right: 45%;
        left: 45%;
        margin: auto;
    }

    .product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .product div {
        margin: 2em 0;
    }

    .product .materialstrip1 {
        background-color: #FF4655;
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 95%;
    }

    .product .materialblack1 {
        background-color: #212529;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 75%;
        right: 95%;
    }

    .product .materialblack2 {
        background-color: #212529;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 25%;
        left: 5%;
    }

    .product .model-m {
        width: 80vw;
        display: flex;
        justify-content: space-between;
    }

    .product .model-m img {
        width: 50%;
    }

    .product .model-m .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product .model-m .description h1 {
        font-size: 3rem;
    }

    .product .model-m .description p {
        font-size: 1rem;
        margin: 2em 0;
    }
    
    .product .model-m .description span {
        font-size: 1.5rem;
    }

    .product .model-m .description a {
        border: 1px solid #212529;
        font-size: .5rem;
        font-weight: 700;
        text-decoration: none;
        border-radius: 0%;
        position: relative;
        padding: 1em 7em;
        transition: color .3s linear;
        top: 5em;
    }

    .product .model-m .description a span {
        color: #212529;
        position: relative;
        transition: .5s;
    }

    .product .model-m .description a:hover span {
        color: #F9F9F9;
    }

    .product .model-m .description a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #212529;
        transition: transform .5s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6);
        transform: scaleX(0);
    }

    .product .model-m .description a:hover::before {
        transform: scaleX(1);
    }

    .product .model-s {
        width: 80vw;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 5em;
    }

    .product .model-s img {
        width: 30%;
    }

    .product .model-s .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product .model-s .description h1 {
        font-size: 3rem;
    }

    .product .model-s .description p {
        font-size: 1rem;
        margin: 2em 0;
    }
    
    .product .model-s .description span {
        font-size: 1.5rem;
    }

    .product .model-s .description a {
        border: 1px solid #212529;
        font-size: .5rem;
        font-weight: 700;
        text-decoration: none;
        border-radius: 0%;
        position: relative;
        padding: 1em 7em;
        transition: color .3s linear;
        top: 5em;
    }

    .product .model-s .description a span {
        color: #212529;
        position: relative;
        transition: .5s;
    }

    .product .model-s .description a:hover span {
        color: #F9F9F9;
    }

    .product .model-s .description a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #212529;
        transition: transform .5s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6);
        transform: scaleX(0);
    }

    .product .model-s .description a:hover::before {
        transform: scaleX(1);
    }

    /* Comment */
    main .comment {
        background-image: url('../../main/comment/background.webp');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 5em 20em;
        position: relative;
        overflow: hidden;
    }

    main .comment span.title {
        background-color: #FF4655;
        color: #F9F9F9;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 5px 15px;
        position: absolute;
        top: 0;
        left: 30%;
    }

    main .comment .designstrip1 {
        background-color: #F9F9F9;
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 95%;
    }

    main .comment .designstrip2 {
        background-color: #FF4655;
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 15%;
    }

    main .comment .designred1 {
        background-color: #FF4655;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 25%;
        right: 95%;
    }

    main .comment .designred2 {
        background-color: #FF4655;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 25%;
        right: 15%;
    }

    main .comment .designwhite1 {
        background-color: #F9F9F9;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 25%;
        right: 55%;
    }

    main .comment .designwhite2 {
        background-color: #F9F9F9;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 35%;
        right: 35%;
    }

    main .comment .designwhite3 {
        background-color: #F9F9F9;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 85%;
        right: 65%;
    }

    main .comment .animations2 .designwhite4 {
        background-color: #F9F9F9;
        display: block;
        width: 7px;
        height: 7px;
        position: absolute;
        top: 10%;
        right: 75%;
    }

    main .comment .animations2 .designwhite5 {
        background-color: #F9F9F9;
        display: block;
        width: 6px;
        height: 6px;
        position: absolute;
        top: 90%;
        right: 10%;
    }

    main .comment .animations2 .designwhite6 {
        background-color: #F9F9F9;
        display: block;
        width: 5px;
        height: 5px;
        position: absolute;
        top: 80%;
        right: 80%;
    }

    main .carrousel-comment {
        transition: 1s;
    }

    main .carrousel-comment .user {
        color: #F9F9F9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .carrousel-comment .user .picture {
        width: 5em;
        height: 5em;
        border-radius: 50%;
        overflow: hidden;
        margin: 2em 0;
    }

    main .carrousel-comment .user .picture img {
        width: 100%;
    }

    main .carrousel-comment .user p {
        margin: 2em 0;
    }

    main .comment .dots {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .comment .dots span {
        background-color: #F9F9F9;
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 .5em;
    }

    /* Team */
    main .team {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        padding: 10em 0;
    }

    main .team .materialstrip1 {
        background-color: #212529;
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 95%;
    }

    main .team .materialstrip2 {
        background-color: #FF4655;
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 5%;
    }

    main .team .materialred1 {
        background-color: #FF4655;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 75%;
        left: 95%;
    }

    main .team .materialred2 {
        background-color: #FF4655;
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 35%;
        right: 5%;
    }

    main .team h1 {
        color: #212529;
        font-size: 5rem;
        font-weight: 700;
        position: absolute;
        top: 5%;
        left: 8%;
        transition: .5s;
    }
    
    main .team .layout-team {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
    }

    main .team .layout-team .card {
        width: 14rem;
        position: relative;
        border: 0;
        transition: .3s;
    }

    main .team .layout-team .card:hover,
    main .team .layout-team .card:hover .social-media {
        opacity: 1;
        transform: translateY(-10px);
    }

    main .team .layout-team .card .social-media {
        background-color: #FF4655;
        position: absolute;
        top: -2%;
        left: -2%;
        opacity: 0;
        transition: .3s;
    }

    main .team .layout-team .card .social-media span {
        color: #F9F9F9;
    }

    main .team .layout-team .card .card-body {
        text-align: left;
    }

    main .team .layout-team .card .card-body h6.card-title {
        font-size: 1em;
        font-weight: bold;
    }
    /* Main End */

    /* Footer Start */
    .footer {
        display: block;
        margin-right: 5vw;
        font-size: .8rem;
    }

    .footer .logo {
        width: 10%;
        transition: 1s;
    }

    .footer .start-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .social-media {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50vw;
    }

    .footer .social-media a {
        color: grey;
        transition: all .5s;
    }

    .footer .social-media a:hover {
        color: white;
    }

    .footer .social-media div a i {
        font-size: 2rem;
    }

    .footer .text-footer {
        transition: 1s;
    }
    /* Footer End */

}