/* CSS Reset Start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background-color: #F9F9F9;
	line-height: 1;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
    color: #212529;
}
/* CSS Reset End */

:root {
    --background-color : #000000;
    --primary-color : #191C24;
    --secondary-color-1 : #F9F9F9;
    --secondary-color-2 : #FF4655;
    --optional-color : #76808A;
}

@media only screen and (min-width: 992px) {

    /* All Button Start */
    .button-animation-white {
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
        border: 1px solid var(--secondary-color-1);
        border-radius: 0%;
        position: relative;
        padding: 1em 7em;
        transition: color .3s linear;
    }

    .button-animation-white span {
        color: var(--secondary-color-1);
        position: relative;
    }

    .button-animation-white:hover {
        color: var(--primary-color);
    }

    .button-animation-white:hover span {
        color: var(--primary-color);
    }

    .button-animation-white::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--secondary-color-1);
        transition: transform .5s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6);
        transform: scaleX(0);
    }

    .button-animation-white:hover::before {
        transform: scaleX(1);
    }

    .button-animation-red {
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
        border: 1px solid var(--secondary-color-1);
        border-radius: 0%;
        position: relative;
        padding: 1em 7em;
        transition: color .3s linear;
    }

    .button-animation-red span {
        color: var(--secondary-color-1);
        position: relative;
    }

    .button-animation-red:hover {
        color: var(--secondary-color-1);
        border: 1px solid var(--secondary-color-2);
    }

    .button-animation-red::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--secondary-color-2);
        transition: transform .5s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6);
        transform: scaleX(0);
    }

    .button-animation-red:hover::before {
        transform: scaleX(1);
    }
    /* All Button End */

    /* Opening Start */
    .opening {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85vh;
        position: relative;
        overflow: hidden;
    }

    .opening-title {
        color: var(--secondary-color-1);
        font-size: 5rem;
        margin: .2em 0;
    }

    .opening-slogan {
        color: var(--secondary-color-1);
        font-size: 1rem;
        margin: .2em 0;
    }

    .opening-text-scroll {
        color: var(--secondary-color-1);
        font-size: .5rem;
        font-weight: bolder;
        letter-spacing: 3px;
        position: absolute;
        bottom: 5%;
    }
    /* Opening End */
    
    /* Career Start */
    .career {
        position: relative;
    }

    .career-image {
        width: 100%;
    }

    .career-card-title {
        font-size: 5rem;
        font-weight: 700;
    }

    .career-card-description {
        color: var(--optional-color);
    }
    /* Career End */

    /* About Us Start */
    .about-us-image-box {
        position: relative;
    }

    .about-us-image {
        width: 90%;
    }

    .about-us-image-span {
        background-color: var(--secondary-color-2);
        font-weight: bold;
        padding: .5em 1em;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .about-us-card-title {
        color: var(--secondary-color-1);
        font-size: 5rem;
        font-weight: 700;
    }

    .about-us-card-tagline {
        font-size: 1rem;
        font-weight: bold;
        margin: 3em 0;
    }

    .about-us-card-description {
        color: var(--optional-color);
    }

    .about-us-list {
        color: var(--optional-color);
    }
    /* About Us End */

    /* Product Start */
    .product-introduction {
        background-color: var(--primary-color);
        padding: .5em 0;
    }

    .product-introduction-title {
        color: var(--secondary-color-1);
        font-size: 3rem;
        font-weight: 700;
        transition: .5s;
    }

    .product-banner {
        background-image: url('../../../main/product/background.webp');
        background-position: center;
        background-size: cover;
        color: black;
        padding: 5em 0 15em 0;
        text-align: center;
        position: relative;
    }

    .product-banner-title {
        color: var(--primary-color);
        font-size: 3rem;
        letter-spacing: 3px;
    }

    .product-banner-description {
        color: var(--primary-color);
        font-family: 'Dancing Script', cursive;
        font-size: 1.5rem;
        margin: .5em 0;
    }

    .product-banner-button {
        position: absolute;
        bottom: 10%;
        right: 45%;
        left: 45%;
        margin: auto;
    }

    .product-image {
        width: 70%;
    }

    .product-title {
        font-size: 3rem;
    }

    .product-description {
        font-size: 1rem;
        margin: 2em 0;
    }
    
    .product-price {
        font-size: 1.5rem;
    }

    .product-text-box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    /* Product End */

    /* Comment Start */
    .comment {
        background-image: url('../../../main/comment/background.webp');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        padding: 5em 20em;
        position: relative;
        overflow: hidden;
    }

    .comment-title {
        background-color: var(--secondary-color-2);
        color: var(--secondary-color-1);
        font-size: 1.5rem;
        font-weight: 700;
        padding: 5px 15px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .comment-carrousel-user {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .comment-carrousel-user-picture-box {
        width: 5em;
        height: 5em;
        border-radius: 50%;
        overflow: hidden;
        margin: 2em auto;
    }

    .comment-carrousel-user-picture {
        width: 100%;
    }

    .comment-carrousel-user-comment {
        margin: 2em 0;
    }
    /* Comment End */

    /* Team Start */
    .team-title {
        color: var(--secondary-color-1);
        font-size: 5rem;
        font-weight: 700;
        margin: .3em;
    }

    .team-card {
        transition: .5s;
    }

    .team-card:hover,
    .team-card:hover .team-social-media {
        opacity: 1;
        transform: translateY(-10px);
    }

    .team-social-media {
        background-color: #FF4655;
        position: absolute;
        top: -2%;
        left: -2%;
        opacity: 0;
        transition: .3s;
    }

    .team-social-media span {
        color: #F9F9F9;
    }

    .team-card-body {
        text-align: left;
    }

    .team-name {
        font-size: 1em;
        font-weight: bold;
    }
    /* Main End */

    /* Footer Start */
    .footer-bg {
        background-color: var(--primary-color);
    }

    .footer-brand-logo {
        width: 10%;
        transition: 1s;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-social-media-box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50vw;
    }

    .footer-social-media {
        color: var(--optional-color);
        transition: all .5s;
    }

    .footer-social-media:hover {
        color: var(--secondary-color-1);
    }

    .footer-social-media i {
        font-size: 2rem;
    }

    .footer-web-description {
        color: var(--optional-color);
    }

    .end-footer {
        color: var(--optional-color);
    }
    /* Footer End */

    /* Career Page Start */
    .vacancy {
        width: 60vw;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .vacancy-card-link {
        color: #212529;
        text-decoration: none;
    }

    .vacancy-card {
        width: 14rem;
        position: relative;
        border: 0;
        transition: .3s;
        border: 1px solid #212529;
    }

    .vacancy-card:hover {
        border: 1px solid #FF4655;
    }

    .vacancy-card:hover,
    .vacancy-card:hover .vacancy-span {
        opacity: 1;
        transform: translateY(-10px);
    }

    .vacancy-span {
        background-color: #FF4655;
        position: absolute;
        top: -4%;
        left: -4%;
        opacity: 0;
        transition: .3s;
        padding: 5px;
    }

    .vacancy-span span {
        color: #F9F9F9;
    }

    .vacancy-card-body {
        text-align: left;
    }

    .vacancy-position-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .vacancy-position-name {
        font-size: 1em;
    }

    .vacancy-deadline-date-title {
        font-weight: bold;
    }

    .vacancy-deadline-date {
        background-color: #FF4655;
        color: #F9F9F9;
        width: max-content;
    }
    /* Career Page End */

}