/* input.topbar-search-input#topbar-search-input:focus {
    border: 1px solid #F9F9F9;
    color: #F9F9F9;
}

input.form-input:focus {
    border: 1px solid #F9F9F9;
    color: #F9F9F9;
}

.table-vacancy-actions {
    display: flex;
    flex-direction: column;
}

.footer-social-media a {
    color: grey;
    transition: .5s;
}

.footer-social-media a:hover {
    color: #F9F9F9;
} */