/* CSS Reset Start */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Reset End */

@media only screen and (min-width: 992px) {

    /* Image Background Start */
    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div img {
        position: fixed;
        top: 0;
        width: 100vw;
        height: auto;
        z-index: -999;
        filter: blur(2px) brightness(100%);
    }
    /* Image Background End */

    /* Main Start */
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .auth {
        background-color: #F9F9F9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2em auto;
        padding: 0 5em;
    }

    .auth-title {
        font-size: 2rem;
        margin: 1em;
    }

    .auth-form input{
        background-color: rgba(114, 133, 142, .2);
        border: none;
        margin: 1em;
        padding: .5em 2em;
        outline: none;
        box-sizing: border-box;
        width: 100%;
    }

    .auth-form input::placeholder {
        font-family: 'Poppins', sans-serif;
        color: grey;
    }

    .auth-remember-box {
        width: 70%;
        margin: auto;
    }

    input[type=checkbox].auth-remember-checkbox {
        border: 1px solid #212529;
        margin: 5px;
        width: 15px;
        height: 15px;
    }

    .auth-remember-checkbox-label {
        width: 50px;
    }

    .auth-button {
        border: 1px solid #212529;
        color: #212529;
        box-sizing: border-box;
        padding: .5em;
    }

    .auth-button:hover {
        background-color: #212529;
    }

    .auth-switch-box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        margin: 1em 0;
    }   

    .auth-switch-title {
        padding-left: 5%;
        margin: 1em;
        margin-left: 0;
    }

    .auth-switch-login-as-box a {
        border: 1px solid #212529;
        font-size: .8rem;
        text-decoration: none;
        position: relative;
        border-radius: 0%;
        margin: 1em;
        padding: .5em 1em;
        transition: color .3s linear;
    }

    .auth-switch-login-as-box a i {
        position: relative;
        color: #212529;
        transition: .5s;
    }

    .auth-switch-login-as-box a span {
        color: #212529;
        position: relative;
        transition: .5s;
    }

    .auth-switch-login-as-box a:hover i,
    .auth-switch-login-as-box a:hover span
    {
        color: #F9F9F9;
    }

    .auth-switch-login-as-box a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #212529;
        transition: transform .5s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6);
        transform: scaleX(0);
    }

    .auth-switch-login-as-box a:hover::before {
        transform: scaleX(1);
    }

    .auth-switch-sign-up-box a {
        border: 1px solid #212529;
        font-size: .8rem;
        text-decoration: none;
        position: relative;
        border-radius: 0%;
        margin: 1em;
        padding: .5em 1em;
        transition: color .3s linear;
    }

    .auth-switch-sign-up-box a i {
        position: relative;
        color: #212529;
        transition: .5s;
    }

    .auth-switch-sign-up-box a span {
        color: #212529;
        position: relative;
        transition: .5s;
    }

    .auth-switch-sign-up-box a:hover i,
    .auth-switch-sign-up-box a:hover span
    {
        color: #F9F9F9;
    }

    .auth-switch-sign-up-box a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #212529;
        transition: transform .5s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6);
        transform: scaleX(0);
    }

    .auth-switch-sign-up-box a:hover::before {
        transform: scaleX(1);
    }

    .auth-forgot-password {
        text-decoration: none;
    }

    .auth-extra-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
    }

    .auth-extra-link {
        text-decoration: none;
        margin: .5em 0;
    }
    /* Main End */

}