/* CSS Reset Start */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Reset End */

/* Root Start */
:root {
    --background-color : #000000;
    --primary-color : #191C24;
    --secondary-color-1 : #F9F9F9;
    --secondary-color-2 : #FF4655;
    --optional-color : #76808A;
}
/* Root End */

@media only screen and (min-width: 992px) {

    /* Preloader Start */
    .preloader {
        background-color: var(--primary-color);
        position: absolute;
        left: 0;
        right: 0;
        height: 100vh;
        z-index: 9999;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .preloader-image {
        width: 10%;
    }
    /* Preloader Start */

    /* Background Image Start */
    .background-image-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .background-image {
        position: fixed;
        top: 0;
        width: 100vw;
        height: auto;
        z-index: -999;
        filter: blur(2px) brightness(100%);
    }
    /* Background Image End */

    /* Main Start */
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .auth {
        background-color: var(--primary-color);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 0 5em;
        box-sizing: border-box;
        position: relative;
    }

    .auth-back {
        color: var(--secondary-color-1);
        position: absolute;
        top: 2%;
        left: 2%;
    }

    .auth-title {
        color: var(--secondary-color-1);
        font-size: 2rem;
        margin: .5em;
    }

    .auth-slogan {
        color: var(--secondary-color-1);
        margin-bottom: 1em;
    }

    .form-input{
        background-color: rgba(114, 133, 142, .2);
        color: var(--secondary-color-1);
        border: none;
        margin: 1em 0;
        padding: .6em 2.5em;
        outline: none;
        box-sizing: border-box;
        width: 100%;
    }

    .form-input:focus {
        border: 1px solid var(--secondary-color-1);
    }

    .form-input::placeholder {
        font-family: 'Poppins', sans-serif;
        color: var(--optional-color);
    }

    .form-input:focus::placeholder {
        color: var(--secondary-color-1);
    }

    .auth-password-box,
    .auth-password-confirm-box {
        position: relative;
    }

    .password-icon-eye {
        cursor: pointer;
        color: var(--secondary-color-1);
        position: absolute;
        top: 40%;
        bottom: 40%;
        right: 5%;
        display: none;
    }

    .password-icon-eye-slash {
        cursor: pointer;
        color: var(--secondary-color-1);
        position: absolute;
        top: 40%;
        bottom: 40%;
        right: 5%;
    }

    .auth-remember-box {
        width: 70%;
        margin: auto;
    }

    input[type=checkbox].auth-remember-checkbox {
        border: 1px solid var(--secondary-color-1);
        margin: 5px;
        width: 15px;
        height: 15px;
    }

    input[type=checkbox].auth-remember-checkbox:hover {
        cursor: pointer;
    }

    .auth-remember-checkbox-label {
        color: var(--secondary-color-1);
    }

    .auth-button-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .auth-button {
        border: 1px solid var(--secondary-color-1);
        color: var(--secondary-color-1);
        box-sizing: border-box;
        padding: .5em;
        transition: .2s;
        margin: auto;
    }

    .auth-button:hover {
        background: none;
        border: 1px solid #FF4655;
        color: #FF4655;
    }

    .auth-switch-box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 1em 0;
    }   

    .auth-switch-title {
        color: #F9F9F9;
        text-align: center;
        padding-left: 5%;
        margin: 1em;
        margin-left: 0;
    }

    .auth-switch a {
        border: 1px solid #FF4655;
        font-size: .8rem;
        text-decoration: none;
        position: relative;
        border-radius: 0%;
        margin: 1em;
        padding: .5em 1em;
        transition: color .3s linear;
    }

    .auth-switch a i {
        position: relative;
        color: #FF4655;
        transition: .5s;
    }

    .auth-switch a span {
        color: #FF4655;
        position: relative;
        transition: .5s;
    }

    .auth-switch a:hover i,
    .auth-switch a:hover span
    {
        color: #F9F9F9;
    }

    .auth-switch a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FF4655;
        transition: transform .5s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6);
        transform: scaleX(0);
    }

    .auth-switch a:hover::before {
        transform: scaleX(1);
    }

    .auth-forgot-password {
        text-decoration: none;
    }

    .auth-extra-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
    }

    .auth-extra-text {
        color: #F9F9F9;
    }

    .auth-extra-link {
        margin: .5em 0;
    }
    /* Main End */

}